<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
       <h1>MI PAGINA</h1>
    </header>    
    
       <nav>
        <ul> 
            <li><a href="#">inicio</a></li>
            <li><a href="#">Noticias</a></li>
            <li><a href="#">Articulos</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>    
       </nav>
       <main>
         <section>
            <h2>seccion principal</h2>
            <p>contenido...</p>
         </section>
         
         <aside>
            <h2>barra lateral</h2>
            <p>contenido...</p>
         </aside>

         <article>
            <h2>seccion artciulo</h2>
            <p>contenido...</p>
         </article>
       </main>

       <footer>
        <p>derechos de autor</p>
       </footer>
</body>
</html>